<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
  <div class="spacer"></div>
  <a target="_blank" rel="noopener" href="https://www.pccth.com/" title="Pccth">
    <span>Professional Computer Co.,Ltd </span>
  </a>
</div>
<div class="content" role="main">
  <!-- Highlight Card -->
  <h1>Submit Tax Filing</h1>
  <!-- Resources -->
  <h3>1...2</h3>
</div>

<div *ngIf="page === 'page1'">
  <div>
    <div class="card-container">
      <div class="card" style="height: 700px">
        <div class="card-body">
          <app-filing-type (event)="receiveMessage($event)">sentMessage: {{message}}</app-filing-type>
          <br>
          <div *ngIf="message === 'Ordinary Filing'">
            <h6>VAT Month</h6>
            <div class="row">
              <div class="col-sm-3">
                <app-month (event)="receiveMonth($event)"></app-month>
              </div>
              <div class="col-sm-3">
                <app-year (event)="receiveYear($event)"></app-year>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h3 class="text-decoration" style="inline-size: none;">2. Tax Computation</h3>
              </div>
              <div class="col-sm-6">
                <br>
                <p style="inline-size: none;">View Exchang Rate</p>
              </div>
            </div>
            <hr>
            <h6>Provide total value taxable electronic service</h6><br>
            <div>
              <div class="divAccountData">
                <div class="row">
                  <div class="col-sm-8">
                    <h6>1.Total value of taxable electronic service exclusive of VAT</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-sale-amount (event)="receiveTotal($event)"></app-sale-amount>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>2.Total VAT to be remitted (7% of 1.)</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-tax-amount [vatItem]="vat"></app-tax-amount>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="message === 'Additional Filing'">
            <div class="row">
              <div class="col-sm">
                <h6>Tax Month</h6>
                <div class="row">
                  <div class="col-sm">
                    <app-month (event)="receiveMonth($event)"></app-month>
                  </div>
                  <div class="col-sm">
                    <app-year (event)="receiveYear($event)"></app-year>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <h6>Type</h6>
                <select class="form-select">
                  <option value="1">On :Time</option>
                  <option value="2">On :Time</option>
                  <option value="3">On :Time</option>
                  <option value="4">On :Time</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h3 class="text-decoration" style="inline-size: none;">2. Tax Computation</h3>
              </div>
              <div class="col-sm-6">
                <br>
                <p style="inline-size: none;">View Exchang Rate</p>
              </div>
            </div>
            <hr>
            <h6>Provide total value taxable electronic service</h6><br>
            <div>
              <div class="divAccountData">
                <div class="row">
                  <div class="col-sm-8">
                    <h6>1.Underdectared Thai taxable electronic service</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-sale-amount (event)="receiveTotal($event)"></app-sale-amount>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>2.Total VAT to be remitted (7% of 1.)</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-tax-amount [vatItem]="vat" ></app-tax-amount>
                  </div>
                </div>
                <br>
                <h6>In case of late filing and payment,or additional filing</h6>
                <br>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>3.Surcharge</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-surcharge [surchargeItem]="surcharge"></app-surcharge>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>4.Penalty</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-penalty></app-penalty>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>5.Underdectared Thai taxable electronic service</h6>
                  </div>
                  <div class="col-sm-3">
                    <app-total-amount [sumTotalItem]="totalsum"></app-total-amount>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-left: 250px; padding-bottom: 10px;">
    <div class="row">
      <div class="col-sm-1">
        <button (click)="goback()" type="button" class="btn btn-outline-dark">Back</button>
      </div>
      <div class="col-sm-2">
        <button (click)="gotoconfirm()" type="button" class="btn btn-outline-dark">Next</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="page === 'page2'">
  <div>
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <h6>Tax Filing Detail</h6>
          <hr>
          <div class="row">
            <div class="col-sm-9">
              <a>Type of filing</a>
            </div>
            <div class="col-sm-3">
              <a>{{message}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <a>VAT Month</a>
            </div>
            <div class="col-sm-3">
              <a>{{month}} {{year}}</a>
            </div>
          </div>
          <br>
          <h6>Tax Computation</h6>
          <hr>
          <div class="row">
            <div class="col-sm-9">
              <b>Total value of taxable electronic service exclusive of VAT </b>
            </div>
            <div class="col-sm-3">
              <a>{{total | number: '1.1-2'}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <b>Total VAT to be remitted </b>
              <a>(7% of Total value of taxable electronic service exclusive of VAT)</a>
            </div>
            <div class="col-sm-3">
              <a>{{vat | number: '1.1-2'}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <b>Total Amount Payable</b>
            </div>
            <div class="col-sm-3">
              <b>{{vat | number: '1.1-2'}}</b>
            </div>
          </div>
          <br>
          <h6>Declaration</h6>
          <hr>
          <a>I hereby certify that information given above are true and correct and
            agree to be bound by such information.
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 375px;">
      <div class="col-sm">
        <button (click)="postData()" type="button" class="btn btn-outline-dark" data-toggle="modal"
          data-target="#exampleModalCenter">Confirm
          and Submit</button>
      </div>
    </div>
  </div>
  <!-- </div> (click)="goback()" -->

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Json Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{result}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Next Steps -->

  <!-- Footer -->
  <footer>
    <!-- Love Angular?&nbsp;
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
          </svg>
          Star
        </div>
      </a>
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </a> -->
  </footer>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->